{% if not title %}
	{% set title="base" %}
{% endif%}


<!doctype html>
<html lang=en>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<style>
			table {
			  font-family: arial, sans-serif;
			  border-collapse: collapse;
			  width: 100%;
			  max-width: 1000px;
			}
			
			td, th {
			  border: 1px solid #dddddd;
			  text-align: left;
			  padding: 8px;
			}
			
			tr:nth-child(even) {
			  background-color: #dddddd;
			}
		</style>
	</head>
	<body>

		{% for message in get_flashed_messages() %}
			<p> &gt; {{ message }}</p>
		{% endfor %}
		
		<nav>
			<a href="/">Event Planner</a> - 
			
			
			{% if currentUser() %}
				{% if currentRoom() %}
					<a href="/eventview">Event Tasks</a> - 
				{% endif %}
				<a href="/rooms">Your Events</a> -
				<a href="/logout">Logout</a> - 
				Logged in as: <b>{{ currentUser().username }}</b> 
				{% if currentRoom() %}
					- in event: <b>{{ currentRoom().name }}</b>
				{% endif %}
			{% else %}
			<a href="/register">Register</a> - 
			<a href="/login">Login</a>
			{% endif %}
		</nav>
		<h1>{{ title }}</h1>
		{% block content %}
		<p>body</p>
		{% endblock content %}
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p>Site by Tuomo Miettinen - Currently in superalpha development phase - GNU General Public License v3.0. - Github page: <a href="https://github.com/Nuuttu/eventplanner_project_for_course">https://github.com/Nuuttu/eventplanner_project_for_course</a>.</p>
	</body>
</html>
