{% set title="Event Planner - Home" %}
{% extends "base.html" %}



{% block content %}

	{% if currentRoom() %}
		<p>Current event: <b>{{ currentRoom().name }}</b> - 
		view <b><a href="/eventview">Event</b></p></a>
	{% endif %}
	{% if currentUser() and not currentRoom() %}
		<p>Create or Join an <a href="/rooms">Event</a></p>
	
	{% endif %}
	{% if not currentUser() %}
		<p>Event planner! <b>Create</b>, <b>Plan</b> and <b>Discuss</b> Events here!</p>
		<p>Hello! Please login or register to use Event Planner.</p>
	{% endif %}
	
	{% if currentUser() and tasks %}
		<h3>Your Every Task</h3>
	{% endif %}
	{% if tasks %}
	<table>
		<tr>
			<th>Task</th>
			<th>for Event</th>
			<th>Created by</th>
			<th>created at</th>
		</tr>
		{% for task in tasks %}
			<tr>
				<td>{{ task.task }}</td>
				<td><a href="joinroom/{{ task.room.id }}">
					{{ task.room.name }}</a></td>
				<td>{{ task.user.username }}</td>
				<td>{{ task.c_date.strftime('%Y-%m-%d') }}</td>
				<td><a href="/task/{{ task.id }}/edit">Edit</a>
					- <a href="/task/{{ task.id }}/delete">Delete</a></td>
			</tr>
		{% endfor %}
	</table>
	{% endif %}

<br>

{% if currentUser() %}
	<a href="/task/add">Add Task</a>
{% endif %}
	

{% endblock content %}
